html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:indianred;
  }
  
  #app {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
  
  #mycontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    font-family: 'Proza Libre', sans-serif;
    color: #fff0ed;
    font-weight: 500;
    font-size: 4rem;
  }
  
  h2 {
    font-family: 'Proza Libre', sans-serif;
    color: #fff0ed;
    font-weight: 300;
  }
  
  h3 {
    font-family: 'Proza Libre', sans-serif;
    color: #fff0ed;
    font-weight: 200;
  }
  
  p, a {
    font-family: 'Proza Libre', sans-serif;
    color: #fff0ed;
    font-weight: 100;
  }
  input{
    width:300px;
    border:1px solid black;
    padding: 1rem 1rem;
    font-size: 2rem;
    border-radius: 3px;
    background: #fff;
    margin:0px;
    padding:0px !important;
    height:40px;
  }
  
  #loadingParent{
    position: absolute;
    display: flex;
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #loader{
    height: 100%;
    width:100%;
    background-color:black;
    opacity: .7;
  }
  
  #loadingContent{
    position: absolute;
    display: flex;
    height: 100%;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #calling{
    width:60%;
    justify-content: center;
    text-align: center;
  }

  #results{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin:auto;
  }

  table, th, td{
    border-collapse: collapse;
    border: 5px solid #fff0ed;
    font-family: 'Proza Libre', sans-serif;
    color: #fff0ed;
  }

  table{
    margin-top: 5%;
    width:100%;
    background-color: #9e4848;
    box-shadow: 7px 9px 13px #864040;
  }

  th{
    font-size: 27px;
    font-weight: bold; 
    height:75px;
  }

  td {
    width: 35%;
    height: 45px;
    font-size: 18px;
    font-weight: normal;
  }
  td+td {
    width: auto;
    height: auto;
  }